package templates

import (
	"github.com/cdumange/notion-htmx-go/models"
	"github.com/cdumange/notion-htmx-go/templates/mixins"
)

templ CategoryList(categories []models.Category) {
	<div class="categories">
		for _, cat := range categories {
			@mixins.Category(cat)
		}
		@mixins.AddCategory()
	</div>
}
