package mixins

templ AddCategory() {
	<div style="width:1rem;margin-left:auto;cursor:pointer" @click="open = true" x-data="{open:false}">
		+
		<div class="overlay" x-show="open">
			<div class="centered-div">
				<form hx-post="/categories" hx-target=".categories" hx-swap="outerHTML">
					<span>
						nom:
						<input name="title" type="text"/>
						<input type="submit" value="create"/>
					</span>
				</form>
			</div>
		</div>
	</div>
}
